<html>
<head>
<link href="prettify/prettify.css" type="text/css" rel="stylesheet" />
<link href="pretty.css" type="text/css" rel="stylesheet" />
<link href="960.css" type="text/css" rel="stylesheet" />
<link href="main.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="prettify/prettify.js"></script>
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function()
		{
			prettyPrint();
		});
</script>
</head>

<body id="body">
<div class="container container_12">
<div class="grid_10 prefix_1">
	<div class="header" style="margin-bottom: 30px;">
		<center>
			<font size="32px">ProcessWanker</font>
		</center>
	</div>
</div>

<div class="grid_10 prefix_1">
	<div class="header">
		ProcessWanker is an application for monitoring and managing services
		across an entire deployment.
	</div>
</div>

<div class="grid_2 prefix_1">
	<div class="button" onClick="document.location='index.html';">Getting Started</div>
</div>
<div class="grid_2">
	<div class="button" onClick="document.location='reference-config.html';">Config File</div>
</div>
<div class="grid_2">
	<div class="button" onClick="document.location='reference-cmdline.html';">Command line</div>
</div>
<div class="grid_2">
	<div class="button" onClick="document.location='network.html';">Network Setup</div>
</div>
<div class="grid_2">
	<div class="button">Discuss</div>
</div>


{{ content }}

<a href="http://github.com/strags/processwanker"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>

</div>
</body>
</html>
