body
{
	background:			#f0f0ff;
	font-family:		Helvetica,sans-serif;
	font-size:			18px;
}

.button
{
	text-align:				center;
	padding:				5px;
	border-radius:			5px;
	background-image:		-webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #8080ff), color-stop(100%, #4040c0));
	background-image:		-moz-linear-gradient(top, #8080ff 0%, #4040c0 100%);
	color:					#ffffff;
	text-shadow:			#204020 0 -1px 0;
	font-size:				16px;
	cursor:					hand;
}

.header
{
	background:			#c0d0e0;
	border-radius:		5px;
	font-size:			20px;
	padding:			15px;
	margin-bottom:		10px;
	margin-top:			10px;
}

.notes
{
	background:			#c0d0e0;
	border-radius:		5px;
	font-size:			14px;
	font-style:			italic;
	padding:			3px;
	border:				2px solid #000040;
	padding-left:		10px;
	padding-right:		10px;
}

.subheader
{
	font-size:			22px;
	font-weight:		bold;
	border-bottom:		3px solid black;
	padding-top:		30px;
	padding-bottom:		5px;
	margin-bottom:		10px;
}

code
{
	background:			#e0e0e0;
	border:				1px solid white;
	padding:			2px;
	color:				#000040;
	border-radius:		3px;
}